<ibm-header name="[Platform]">
	<ibm-header-navigation>
		<ibm-header-item routerLink="catalog">Home</ibm-header-item>
		<ibm-header-item routerLink="farmer-view">Your view</ibm-header-item>
		<ibm-header-menu title="Forms">
			<ibm-header-item routerLink="link1">Farmer registration</ibm-header-item>
			<ibm-header-item routerLink="lot-form">Farm lot registration</ibm-header-item>
			<ibm-header-item routerLink="crop-form">Crop registration</ibm-header-item>
		</ibm-header-menu>
	</ibm-header-navigation>
	<ibm-header-global>
		<ibm-header-action title="action">
			<svg ibmIcon="notification" size="20"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIcon="user--avatar" size="20"></svg>
		</ibm-header-action>
		<ibm-header-action title="action">
			<svg ibmIcon="app-switcher" size="20"></svg>
		</ibm-header-action>
	</ibm-header-global>
</ibm-header>
